@import "tailwindcss";

:root {
  --primary: #0b1828;
  --secondary: #146b68;
  --tertiary: #bfa081;
  --dark-text: #0b1828;
  --light-text: #fcfbf7;
}

@theme inline {
  --color-primary-50: #ebf2f5;
  --color-primary-100: #dae6eb;
  --color-primary-200: #a5bdc9;
  --color-primary-300: #7796a8;
  --color-primary-400: #335069;
  --color-primary-500: #0b1828;
  --color-primary-600: #091424;
  --color-primary-700: #06101f;
  --color-primary-800: #040c1a;
  --color-primary-900: #020712;
  --color-primary-950: #01040d;

  --color-secondary-50: #edf7f7;
  --color-secondary-100: #ddf0ef;
  --color-secondary-200: #afdbdb;
  --color-secondary-300: #86c4c3;
  --color-secondary-400: #419694;
  --color-secondary-500: #146b68;
  --color-secondary-600: #10615a;
  --color-secondary-700: #0b4f45;
  --color-secondary-800: #074033;
  --color-secondary-900: #043023;
  --color-secondary-950: #021f14;

  --color-tertiary-50: #fcfbf7;
  --color-tertiary-100: #faf8f2;
  --color-tertiary-200: #f0eadd;
  --color-tertiary-300: #e6dbc8;
  --color-tertiary-400: #d4c0a5;
  --color-tertiary-500: #bfa081;
  --color-tertiary-600: #ad8a6a;
  --color-tertiary-700: #8f6749;
  --color-tertiary-800: #734a2f;
  --color-tertiary-900: #57311b;
  --color-tertiary-950: #38190b;

  --color-accent-50: #faedf3;
  --color-accent-100: #f5dce7;
  --color-accent-200: #e8aec3;
  --color-accent-300: #d9829c;
  --color-accent-400: #ba384b;
  --color-accent-500: #9f0001;
  --color-accent-600: #8f0000;
  --color-accent-700: #750000;
  --color-accent-800: #5e0000;
  --color-accent-900: #470000;
  --color-accent-950: #2e0000;

  --color-primary-vibrant-300: #8ab6ff;
  --color-primary-vibrant-500: #4f86f7;
  --color-primary-vibrant-700: #255aff;

  --color-secondary-vibrant-300: #75dac7;
  --color-secondary-vibrant-500: #1abc9c;
  --color-secondary-vibrant-700: #138f6e;

  --color-tertiary-vibrant-300: #f7c873;
  --color-tertiary-vibrant-500: #f39c12;
  --color-tertiary-vibrant-700: #c9780e;

  --color-accent-vibrant-300: #f48a6f;
  --color-accent-vibrant-500: #e74c3c;
  --color-accent-vibrant-700: #c0392b;

  --color-background: var(--primary);
  --color-foreground: var(--text-light);
  --font: var(--font-montserrat);
}

body {
  background: var(--primary);
  color: var(--light-text);
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-light);
  font-family: var(--font-montserrat);
}

h1 {
  @apply text-4xl font-extralight;
}

h3 {
  @apply text-xl text-gray-500;
}
